<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form action="#">
          <div class="form-body">
            <h3 class="card-title">Información del Personal del Usuario</h3>
            <hr />
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"></label>
                  <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    placeholder="Nombre"
                    readonly
                  />
                  <small class="form-control-feedback">
                    This is inline help
                  </small>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Correo</label>
                  <input
                    type="email"
                    id="lastName"
                    class="form-control"
                    placeholder="Correo"
                    readonly
                  />
                  <small class="form-control-feedback">
                    This field has error.
                  </small>
                </div>
              </div>
              <!--/span-->
            </div>

            <h3 class="box-title m-t-40">Información Médica del Usuario</h3>
            <hr />
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Temperatura:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <!--/span-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Presion Sanguinea:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <!--/span-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Peso:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Fecha de Ultima Visita:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Condición:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Exposición:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tos(?):</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Oxigenación:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-success">
              <i class="fa fa-check"></i> Save
            </button>
            <button type="button" class="btn btn-inverse">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
